
.footer {
  background: #0f2f3a; // deep blue-teal
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;

  border-top: 1px solid rgba(255,255,255,.06);
  box-shadow: 0 -4px 20px rgba(0,0,0,.25);

  a {
    color: #85D8CE;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
