<footer class="bg-dark footer mt-auto justify-content-center">
  <div class="container justify-content-center">
    <p class="text-white mb-0 m-2">watrbx 2026 - Emoji of the day:</p>
  </div>
</footer>