<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/api/v1/css/fetchCSS?Name=bootstrap">
    <link rel="stylesheet" href="/api/v1/css/fetchCSS?Name=custom">
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/jquery-3.0.0.min.js"></script>
    {% block headerIncludes %}{% endblock %}
    <title>{% block pageName %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column h-100">
    {% include "components/header.twig" %}
    {% block body %}{% endblock %}
    {% include "components/footer.twig" %}
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>