#index-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(/assets/images/bgs/3.png);
  background-position: 30% 45%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 50px;
}